p{
    background:blue;
    display:inline;
    font-size:2em;
}
.img{
    width: 600px;
    margin-top: 10;
    padding-top: 24px;

}
.search{
    width:50px;
}
p.parliament_discript{
    background-color: white;
    font-size: 1em;
    margin-bottom: 15px;
}

.tiger{
    font-size: 1em;
    background-color: white;
    padding-bottom:125px;
}
.royal{
    padding-top:25px;
    width: 700px;
    display:block;
    padding-bottom: 50px;
}